
  @import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fruktur&family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
    text-decoration: none;
    color: white;
}
button > a{
    color: black;
    width: 100%;
    height: 100%;
}
button:hover a{
    color: white;
}
a:hover{
color: black;
transition: color .3s linear;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
}


button:hover
{
    cursor: pointer;
    background-color: rgba(195, 159, 103, 1);
    border-color: transparent;
  
}
nav button:hover{
    color: black;
    background-color:white;
}
.banner
{
    position: relative;
    padding:25px 75px;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 100px;
    background-image: url("Backgrounds/Belleview\ -\ Main\ Banner\ 1.png");
    background-size: 100% 100%;
    background-position: center center;
    
    color: white;
    transition: background-image .5s ease-in-out;
}


.mirror_shards
{
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    
    height: 100%;
   
    padding: 0;
    background-image: url("./Backgrounds/Vector\ \(1\).png");
    width: 28%;
    background-position-x:280px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.relative_position{
    position: relative;
    color: white;
}
nav
{
   
    transition: all .7s linear;
    top: 25px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-items: center;
}
nav button
{
    padding: 15px 50px;
    background-color: transparent;
    color: white;
    border:2px solid white;
    align-self: start;
    transition: all .2s linear;
}
nav ul
{
    display: flex;
}

.svg_border_bottom,nav ul
{
 padding-bottom: 25px;
    
}



            .hamburger
            {
                display: none;
                cursor: pointer;
            }
        .bars{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background-color: white;
        }
        nav button{
        padding: 15px 35px;
        margin-top: -35px;
        align-self: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;


        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.24em;
        }

nav ul
{
    display: flex;
    padding-bottom: 50px;
}

nav ul li
{
    margin: 0 32px;
    transition: all .2s linear;
    font-weight: 400;
font-size: 12px;
line-height: 107.4%;
/* or 13px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.24em;
}
nav ul li:hover
{
    cursor: pointer;
    color: black;
}


.nav_upper_left_plus_horizontal{
    position: absolute;
  left: 27.4%;
}
.nav_upper_left_plus_vertical{
    position: absolute;
    left: 27.4%;
    transform: rotate(90deg);
}
.nav_upper_right_plus_horizontal
{
    position: absolute;
    right: 22%;
}
.nav_upper_right_plus_vertical{
    position: absolute;
    right: 22%;
    transform: rotate(90deg);
}   

.nav_lower_left_plus_horizontal{
    position: absolute;
  left: 27.4%;
  bottom: 10%;
}
.nav_lower_left_plus_vertical{
    position: absolute;
    left: 27.4%;
    bottom: 10%;
    transform: rotate(90deg);
}
.nav_lower_right_plus_horizontal
{
    position: absolute;
    right: 22%;
    bottom: 10%;
}
.nav_lower_right_plus_vertical{
    position: absolute;
    right: 22%;
    bottom: 10%;
    transform: rotate(90deg);
}   

.half_nav_lower_left_plus_horizontal{
    position: absolute;
    left: 5%;
    bottom: 10%;
  
}
.half_nav_lower_left_plus_vertical{
    position: absolute;
    left: 5%;
    bottom: 8.6%;
}

.half_nav_lower_right_plus_horizontal{
    position: absolute;
    right: 5%;
    bottom: 10%;
  
}
.half_nav_lower_right_plus_vertical{
    position: absolute;
    right: 5%;
    bottom: 8.6%;
}




.content
{
    position:relative;
    bottom: -15%;
    width: 41%;
}
.content h2
{
    font-size: 3em;
    height: 225px;
    font-weight: 200;
}
.slider
{
   
    bottom: 10%;
    width: 25%;
    margin-top: 50px;
}
.bar
{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    overflow: hidden;
    background-color:  rgba(255, 255, 255, .4);
    
}

.progess_bar
{
width: 25%;
height: 100%;
margin-left:0% ;
background-color: rgba(65, 192, 240, 1);

transition: margin-left .3s linear;

}
.slider_button
{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.slider_button div i
{
    cursor: pointer;
}
.slider_button i
{
  margin: 0 5px;
}
.slider_button > span
{
    font-size: small;
    margin-top: 5px;
}
.straight_line_in{
    display: flex;
    position: absolute;
    align-items: start;
    left: 50%;
    bottom: 0;
}
.straight_line_out{
    
    position: absolute;
    
    left: 50%;
    bottom: -85px;
    z-index: 2;
}
.straight_line_in p{
    margin-left: 5px;
    font-weight: 400;
font-size: 12px;
line-height: 140%;
/* or 17px */

display: flex;
align-items: center;
letter-spacing: 0.24em;
}
.villas_Exploration
{
    padding: 50px 0px 50px 0px;
    text-align: center;
}

.villas_Exploration > span
{
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.74em;
}
.villas_Exploration_content
{
    padding: 35px 15% 35px 10%;
    display: flex;
    text-align: left;
    justify-content: space-between;
}
.villas_Exploration_content > div
{
    width: 550px;
}
.villas_Exploration_content >  div > span
{
    
    display: flex;
    align-items: baseline;
}
.villas_Exploration_content div h1
{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.25em;;
}

.villas_Exploration_content_buttons
{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.villas_Exploration_content_buttons button
{
    padding: 10px 0;
    width: 165px;
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: all .2s linear;
}
.villas_Exploration_content_buttons button:hover
{
   background-color: black;
   color: white;
}
.villas_Exploration_info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery_container
{
    padding: 35px 0 35px 10%;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
   
}

.gallery_container::-webkit-scrollbar{
    display: none;
  }



.gallery
{
    
    width: 150%;
    display: flex;
    flex-wrap: wrap;
    transition: all 2s linear;

}

.gallery_images
{
   position: relative;
   padding: 500px 550px 0 0 ;
   margin: 0 40px 40px 0;
   background-image: url("./Backgrounds/Screen\ Shot\ 2022-10-14\ at\ 09.05\ 1.png");
   background-size: 100% 100%;
   background-position: center center;
   overflow: hidden;
   cursor: pointer;
}

.bottom_bolder{
    position: absolute;
    width: 550px;
    z-index: 4;
    left: 0;
    bottom: -10px;
}
.boulder_left{
    position: absolute;
   left: -15px;
   top: 5px;
    z-index: 4;
   
}
.boulder_right
{
    position: absolute;
    right: -15px;
    top: 5px;
}
.gallery_plus_left_upper_horizontal,.gallery_plus_left_upper_vertical{
    position: absolute;
    top: -30px;
    
    left: -15px;
}
.gallery_plus_left_upper_vertical{
   
    transform: rotate(90deg);
}

.gallery_plus_right_upper_horizontal,.gallery_plus_right_upper_vertical {
    position: absolute;
    top: -30px;
    right: -15px;
}

.gallery_plus_right_upper_vertical{
   
    transform: rotate(90deg);
}

.gallery_plus_left_lower_horizontal,.gallery_plus_left_lower_vertical{
    position: absolute;
    bottom: -20px;
    left: -15px;
}
.gallery_plus_left_lower_vertical{
   
    transform: rotate(90deg);
}

.gallery_plus_right_lower_horizontal,.gallery_plus_right_lower_vertical {
    position: absolute;
    right: -15px;
    
    bottom: -20px;
}


.gallery_plus_right_lower_vertical {
    
    transform: rotate(90deg);
    
}




.gallery_image1
{
   background-image: url("./Backgrounds/Screen\ Shot\ 2022-10-14\ at\ 09.05\ 1.png");
}
.gallery_image2
{
   background-image: url("./Backgrounds/gallery_image_2.png");
}
.gallery_image3
{
   background-image: url("./Backgrounds/Screen\ Shot\ 2022-10-14\ at\ 09.05\ 1.png");

}
.gallery_image4
{
   background-image: url("./Backgrounds/galler_image_4.png");
}
.gallery_image5
{
   background-image: url("./Backgrounds/gellery_image_5.png");
}
.gallery_image6
{
   background-image: url("./Backgrounds/galler_image_4.png");
 
}

.overlays
{
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding: 25px;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    transition:opacity .7s linear;
}
.gallery_images:hover .overlays
{
    opacity: 1;
}
.gallery_images:hover{
    overflow: visible;
}
.Villas_surprise
{
    font-weight: 400;
    font-size: 12px;
    line-height: 143.9%;
    letter-spacing: 0.05em; 

}
.overlays > div > span
{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 500;
    font-size:30px;
    line-height: 150.9%;
    letter-spacing: -0.005em;
    
}

.overlays div button
{
    margin-top: 25px;
    background-color: transparent;
    padding: 25px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 87.4%;
    width: 100%;
    transition: all .2s linear;
}
.overlays div button:hover
{
   color: white;
   background-color: black;
}
.gallery_icons
{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 40%;
}
.icons
{
    text-align: center;
    width: 50%;
}
.icons_font
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
   letter-spacing: 1px;


}

.next
{
    padding: 50px 50px;
    position: absolute;
    text-align: center;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 14px;
     line-height: 87.4%;
   opacity: 1;
    bottom: 30%;
    cursor: pointer;
     display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.24em;
    border: 1px solid black;
    transition: opacity 5s linear;
}

.left
{
    right: auto;
    left: 700px;
    animation-name:for_left ;
    animation-duration: 2.5s;
}

.right
{
    right: 100px;
    left: auto;
    animation-name:for_right ;
    animation-duration: 2.5s;
    
}
.explore
{
    letter-spacing: 0.24em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 87.4%;
    background-color: transparent;
    padding: 25px 50px;
    transition: all .2s linear;
}
.about_us{
    display: flex;
    padding: 25px;
    position: relative;
    padding: 50px 0 50px 100px;
    justify-content: space-between;
}
.about_us_pluses{
    position: absolute;
    top:-10px;
    width: 90%;
}
.about_us_headings
{
    width: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_us_para
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 68%;
}
.about_us >div  > p{
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 10px 0;
    letter-spacing: 0.05em;
}
.about_us > div > h1
{
    font-weight: 500;
font-size: 30px;
line-height: 93.9%;
letter-spacing: 0.25em;
}
.javed_group_in_numbers
{
   position: relative;
    padding: 50px 0px 50px 100px;
   
    background-image: url("./Backgrounds/Frame.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    color: rgba(195, 159, 103, 1);
}
.javed_pluses
{
    position: absolute;
    bottom: -10px;
    width: 90%;
}
.javed_group_in_numbers > div:nth-child(1)
{
   
   width: 30%;
}
.javed_group_in_numbers > div:nth-child(2)
{
   
   width: 70%;
}
.javed_group_in_numbers > div > h1
{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 110%;

letter-spacing: 0.25em;
text-transform: uppercase;
}
.javed_group_in_numbers .description ul
{
  display: flex;
  justify-content: space-evenly;
}
.javed_group_in_numbers .description ul li
{
  padding: 10px 50px 10px 70px ;
}
.numbers
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(195, 159, 103, 1);
}
.plus
{
    position: absolute;
    right: 35%;
    bottom: 20%;
    font-style: italic;
    font-weight: 300;
    font-size: 70px;

line-height: 87.4%;
}


.why_us h1:first-child
{
    font-weight: 500;
font-size: 30px;
line-height: 110%;
margin-bottom: 25px;

text-align: center;
letter-spacing: 0.25em;
text-transform: uppercase;
}
.why_us p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%; 
    text-align: center;
    letter-spacing: 0.05em;
}
.why_us
{
    padding: 50px 25%;
    text-align: center;
}
.quality_container
{
    width: 80%;
    padding: 50px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.qualities
{
    width: 33%;
   
    text-align: center;
}
.qualities > h3
{
    font-weight: 500;
    font-size: 26px;
    line-height: 93.9%;
    color: black;
    margin: 1em;
}
.qualities > p
{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
margin: 1em;
/* or 21px */

text-align: center;
letter-spacing: 0.05em;
}
.more{
   display: flex;
   justify-content: center;
   
  margin: 50px;
}

.subscibe_us
{
    width: 85%;
    background: url("./Backgrounds/subscribe_glass_shards.png"), rgba(178, 142, 87, .93);
    margin: auto;
    padding: 100px 26% 50px 26%;
    text-align: center;
    color: white;
}
.subscibe_us > h3
{
    font-weight: 500;
    margin: 1em 0;
    font-size: 35px;
    line-height: 93.9%;
}
.subscibe_us > p
{
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    margin: 0 1em;
    
    text-align: center;
    letter-spacing: 0.05em;
}
.subscibe_us form 
{
    display: flex;
    padding: 30px 0;
}
.subscibe_us form input:nth-of-type(1)
{
    margin: 0;
    width: 70%;
    padding:20px 25px;

}
.subscibe_us form input:nth-of-type(1)::placeholder
{
    font-weight: 400;
font-size: 14px;
line-height: 87.4%;
letter-spacing: 0.24em;

}
.subscibe_us form input:nth-of-type(2)
{
    margin: 0;
    width: 30%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.footer
{
    width: 100%;
    background-color: black;
    padding: 25px 50px;
    position: relative;
}
.footer_navigtion
{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: start;
}
.social_icons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.social_icons li svg
{
    transition: all .2s linear;
    
}
.social_icons li svg:hover path
{   cursor: pointer;
    fill: gray;
}

.links{
    display: flex;
    align-items: center;
    padding:0 25px;
    font-weight: 400;
    font-size: 17px;
    line-height: 107.4%;
    padding: 1em;
}
.links li{
    padding: 0 25px;
    transition: all .2s linear;
}
.links li:hover{
    color: gray;
    cursor: pointer;
}
.cotact_info
{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 200px;
    color: white;
    margin: auto;
    padding: 10px 80px 10px 10px;
}
.upper_contact_info,.lower_contact_info
{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid white;
}
.lower_contact_info
{
    border: none;
    padding: 10px 0;
}
.lower_contact_info p:nth-child(1)
{
    font-weight: 300;
font-size: 11px;
line-height: 143.9%;
letter-spacing: 0.24em;
}
.lower_contact_info p:nth-child(2)
{
    font-weight: 300;
    font-size: 11px;
    line-height: 123.02%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.03em;
}
.lower_contact_info p:nth-child(2) svg{
    margin-right: 5px;
   
}
.copyrights
{
    position: absolute;
    left: 50px;
    color: white;
    bottom: 50px;
    font-weight: 300;
    font-size: 11px;
   line-height: 143.9%;
}
@keyframes for_left {
    from{opacity: .0;}
   
    to{opacity: 1;}
}
@keyframes for_right {
    from{opacity: .0;}
   
    to{opacity: 1;}
}

@media screen and (max-width: 991px) {

    body{
        width: 100%;
    }
    .banner
    {
        margin-bottom: 35px;
        padding: 25px;
        height: 80vh;
    }
    .content
    {
        width: 70%;
    }
    .content h2
        {
        font-size: 35px;
        height: 175px;
        
    }
    .slider
    {
       position: relative;
       margin-top: 0;
    }
    .villas_Exploration_content
    {
        flex-direction: column;
        justify-items: center;
    }
    .villas_Exploration_content > div
    {
        width: 80%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .villas_Exploration_content div h1
    {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.25em;;
    }
    .gallery_container
    {
        padding: 35px 0 35px 10%;
        width: 100%;
        position: relative;
        overflow-x: scroll;
        scroll-behavior: smooth;
       
    }
    .gallery{
        width: 100%;
    }
    .gallery_images
    {
        padding: 320px 320px 0 0 ;
        margin: 0 15px 15px 0;
    }
    .overlays
    {
        padding: 15px;
        width: 100%;
        
    }
    .overlays > div > span
   {
    font-family: 'Cormorant Garamond', serif;
    
    }
    .overlays > div 
   {
    font-family: 'Cormorant Garamond', serif;
    
    }

    .overlays div button
        {
            margin-top: 15px;
            background-color: transparent;
            padding: 15px 0px;
            font-weight: 400;
            font-size: 14px;
            line-height: 87.4%;
            width: 100%;
            transition: all .2s linear;
        }
        .icons svg
        {
            width: 30%;
            height: 30%;
        }
        .gallery_icons
            {
                display: flex;
                flex-wrap: wrap;
                align-items: end;
                width: 80%;
            }
            .icons_font
            {
                
                font-weight: 300;
                font-size: 10px;

            }
            .next{
                display: none;
            }
            .about_us
            {
                padding: 50px 0 ;
                justify-content: space-evenly;
            }
            .about_us_headings
            {
                border-right: 1px solid rgba(0, 0, 0, 0.3);
                padding-right: 25px;
            }
            .about_us_para
            {

                width: 65%;
            }

            .javed_group_in_numbers
            {
                padding: 25px 0 25px 25px;
            }
            .numbers img{
                
                width: 15%
                
             }
             .numbers{
                width: 100%;
                margin-left: auto;
             }
             .javed_group_in_numbers .description ul li {
                padding: 5px;
                font-size: 13px;
             }
             .javed_group_in_numbers > div:nth-child(2)
                {
                
                width: 65%;
                margin-left: auto;
                }

                .quality_container{
                    width: 90%;
                    padding: 0;
                }
                .more{
                    margin: 20px auto;
                }
                .subscibe_us{
                    padding:50px 75px ;
                }

                .social_icons,.links{
                    flex-direction: column;
                }
                .social_icons li,.links li{
                    margin: 10px 0;
                }
                .footer_navigtion .svg_border_bottom{
                    align-self: center;
                }
                .cotact_info{
                    width: 80%;
                    padding: 20px;
                }
                .copyrights{
                    left: 25px;
                    bottom: 20px;
                }
                nav hr{
                    display: none;
                }
                nav ul li
                {
                    margin: 0 15px;
                    font-size: medium;
                  
                }
}


@media screen and (max-width: 768px) {

    .banner
    {
        margin-bottom: 25px;
        padding: 15px;
        height: 55vh;
    }
    .svg_border_bottom svg{
        width: 70%;
    }
    .content
    {
        width: 100%;
    }
    .slider_button{
        width: 120%;
    }
    .hamburger
    {
        display: block;
    }
    .hamburger.active .bars:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-button{
        align-items: center;
    }
    .nav-menu{
        position: fixed;
        text-align: center;
        right: -100%;
        top: 100px;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(5px);
        
    }
    .nav-button{
        position: fixed;
        text-align: center;
        right: -100%;
        top:260px;
        background: transparent;
        backdrop-filter: blur(5px);
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 5;
        transition: 0.3s;
    }
    .nav-button button{
        font-size: 13px;
        padding: 5px 40px;
    }
    .nav_items{
        margin: 10px 0;
        font-size: 13px;
    }
    .nav_items.active,.nav-button.active{
        margin-top: 15px;
    }
    
    .nav-menu.active,.nav-button.active{
        right: 0;
    }
    
    .content
    {
        width: 80%;
    }
    .content h2
        {
        font-size: 30px;
        height: 150px;
    }
    .villas_Exploration_content
    {
        padding: 25px 25px 25px 5%;
    }
    .villas_Exploration_content > div
    {
        width: 100%;
    }
    .villas_Exploration_content div h1
    {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
    }
    .villas_Exploration_content_buttons
    {
    
        margin-top: 15px;
        justify-content: start;
    }
    .villas_Exploration_content_buttons button
    {
        padding: 5px 35px;
        margin-right: 20px;
    
    }
    .villas_Exploration_info p
    {
        width: 90%;
    }
    .gallery_container
    {
        padding: 25px 25px 25px 5%;
        
    }
    .gallery{
        align-items: center;
        justify-content: center;
    }
    .gallery_images
    {
        padding: 350px 350px 0 0 ;
        margin: 0 15px 15px 0;
    }
    .about_us{
        flex-direction: column;
        padding: 25px 25px;
        border-right: none;
        
    }
    .about_us_headings
    {
        width: 100%;
        
        border: none;
        
    }
    .about_us_headings h1
    
    {
        
        margin-bottom: 10px;
        
    }
    .about_us_para
    {
    width: 100%;
    margin: 10px 0;
    }

    .overlays
    {
        padding: 15px;
        width: 100%;
       
    }
    .stickys{
        position: absolute;
        top: 500px;
        left: 5px;
        height: 200px;
        background-color: black;
        z-index: 3;
    }
  
        
        
          

            .javed_group_in_numbers
            {
                padding: 15px 0 15px 15px;
                flex-direction: column;
            }
            .javed_group_in_numbers > div > h1
            {
            font-size: 30px;
            }
            .javed_group_in_numbers > div:nth-child(1)
            {
                width: 100%;
                font-size: 25px;
                padding-bottom:35px ;
            }
            .javed_group_in_numbers > div:nth-child(2)
            {
                width: 100%;
                margin: auto;
            }

            .numbers img{
                width: 12%
             }
             .plus
            {
    
                right: 38%;
                bottom: 10%;
    
                font-size: 50px;

            }
           
            .why_us
            {
                padding: 50px 10%;
                text-align: center;
            }

             
                .quality_container{
                    flex-direction: column;
                    align-items: center;
                }
                .qualities{
                    width: 80%;
                    padding-bottom: 25px;
                }
                .more{
                    margin: 10px auto;
                }
                .subscibe_us{
                    padding:25px 35px ;
                }

                .footer{
                    position: relative;
                    padding:25px 10px 50px 10px;
                }
                .footer_navigtion{
                    flex-direction: column;
                    align-items: center;
                }
                .social_icons,.links{
                    flex-direction:row;
                    padding: 0px;
                }
                .links{
                    font-size: 14.5px;
                }
                .social_icons{
                    position: absolute;
                    flex-direction:column;
                    right: 0;
                    top: 40%;
                }
                
                
                .upper_contact_info
                {
                    flex-direction: column;
                    padding: 10px 0;
                }
                .upper_contact_info > p
                {
                    margin-bottom: 10px;
                }
                .copyrights{
                   left: 30%;
                }
               
                
                

}

@media screen and (max-width: 479px) {
    
    .banner
    {
        height: 50vh;
    }
    .content h2 
    {
        font-size: 24px;
    }
    .mirror_shards 
    {
        width: 40%;
    }
    
    .subscibe_us{
        width: 100%;
        padding: 15px;
    }
    .subscibe_us form input:nth-of-type(1)
{
    margin: 0;
    width: 70%;
    padding:10px 15px;

}
    
    .footer_navigtion{
        
        align-items: start;
    }
    .cotact_info{
        width: 100%;
    }
    .social_icons,.links{
        top: 12%;
    }
    .links{
        flex-direction: column;
        
        align-items: flex-start;
        padding-left: 0;
    }
    .links li{
       margin-bottom: 15px;
    
       margin-left: 0;
    }
    .lower_contact_info{
        flex-direction: column;
    }
    .lower_contact_info p:nth-child(2)
    {
        padding-top: 10px;
        justify-content: left;
    }
}